@model WebApplication1.Models.Role

@{
    ViewBag.Title = "Detail Role";
}

<h2>Detail Role</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("User Role")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role1)
        </dd>

        <dt>
            @Html.DisplayName("User Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateRole", "Role", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Cancel", "DisplayRole", "Role", new { @class = "btn btn-danger" })
</p>
